.header{
    background-color: rgb(151, 219, 207);
    width: 100%;
    height: 100px;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(243, 248, 247);
    font-size: 50px;
}
.navbar{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgb(243, 248, 247);
  font-size: 20px;
}
.nav-link{
  color: white;
}
.nav-link:hover{
  color: black;
}
.nav-item{
  padding-left: 20px;
}
.banner {
    display: grid;
    align-items: center;
    min-height: 100vh;
    background: url(images/imgfv.avif) no-repeat center;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

.name{
    font-size: 60px;
}

.btn{
    color: white;
    background-color: rgb(77, 166, 151);
    text-decoration: none;
    border-radius: 12px;
}
.btn:hover{
    background-color: rgb(28, 98, 55);
}

.img-abt{
    float: right;
}
.txt-abt{
    padding-top: 70px;
    float: left;
}
.services-block .feature-grid {
    margin-top: 30px; }
  
  .services-block .feature-img {
    padding: 10px;
    margin: 0 auto; }
  
  .services-block .feature-body {
    transition: 0.3s ease-in;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 2rem; }
  
  .services-block .feature-body:hover {
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom right, left, right; }
  
  .services-block .service1:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.67)), url(images/a.png); }
  
  .services-block .service2:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.67)), url(images/b.webp); }
  
  .services-block .service3:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.67)), url(images/c.jpg); }
  
  .services-block .service4:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.67)), url(images/d.jpg); }
  
  .services-block .service5:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.67)), url(images/e.webp); }
  
  .services-block :hover .service6:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.67)), url(images/f.jpg); }
  
  .services-block .feature-img span {
    font-size: 35px;
    transform: scale(1);
    transition: 0.3s ease;
    color: #e78797; }
  
  .services-block .feature-body:hover h3.feature-titel {
    color: rgb(222, 237, 235);
    transition: 0.3s ease; }
  
  .services-block .feature-body:hover p.feature-text {
    color: rgb(222, 237, 235);
    transition: 0.3s ease; }
  
  .services-block .feature-body:hover div.feature-img span {
    transform: scale(1.1);
    transition: 0.3s ease;
    color: rgb(85, 192, 170); }
  
  .services-block h3.feature-titel {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    color: #101011;
    transition: 0.3s ease; }
  
  .services-block p.feature-text {
    color:#101011;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    transition: 0.3s ease; }
  

  /*contact section*/
  .contact-section{
    padding: 50px;
    padding-left: 200px;
  }
  .colu{
    padding-top: 30px;
  }
  .abt{
    height: 3em;
    width: 150em;
    border-radius: 8px;
    border: 1px solid #e78797;
    background-color: #f7f3f4;

  }
  .btn-sub{
    float: right;
  }
  input[type=text]:focus {
    background-color: rgb(224, 245, 241);
  }
  .adrss{
    padding-left: 80px;
        padding-top: 30px;
        font-size: large;
  }
  
  /*Footer*/
  .footer-content{
    background-color: rgb(151, 219, 207);
    width: 100%;
    height: 150px;
  }
  .social-icons-main{
    padding-left: 600px;
    padding-top: 10px;

  }
  .icon1{
    font-size: x-large;
    color: #ffffff;
  }
  .icon1:hover{
    color:#f0b9be;
  }

  .name-footer{
    font-size: large;
    color: #ffffff;
  }
  .name-footer:hover{
    color:#f0b9be;
  }